
.container {                                               /*pagination css*/
	margin: 0px auto 0px auto;
	width: 1200px;
	background-color: #e3e3e3;
}

.social-media-images img{
	width: 50px;
	height: 50px;
	padding: 5px;  
	float: right;
}

.social-logo a{
	text-decoration: none;

}


.social-logo img{
      height: 50px;
      width: 50px;
	
}
.image-logo-logo{
float: left;

}

.image-logo-logo img{
		
    width: 150px;
    height: 150px;
     padding: 15px;
  
}

.fortitle {
   
    text-align: center;
    font-family: arial;
    font-size: 32px;
    padding-top: 37px;
    color: green;
}
.topnav a{                      
    text-decoration: none;
}

.contact {
    padding: 4em;
    display: inline-block;
    text-align: center;
    font-family: arial;
    font-size: 18px;
    color: #00529c;
   
}
.bannerset{
	font-family: arial;
    font-size: 16px;
    color: green;
    padding: 5px;
}
.ABOUT-US{
	text-align: center;font-family: arial;font-size: 18px;padding: 15px;color: #00529c;
}

.bannerdescription{
	padding: 5px;
        color: #00529c;
		font-family: arial;
		font-size: 16px;
}
.bannerdescription a{
	text-decoration: none;
color: #00529c;
		font-family: arial;
		font-size: 16px;
}
.square img{
margin: 0;
padding: 0;
	width: 1200px;
	height: auto;
}
.product-header{

	padding: 40px;
	font-family: arial;
	font-size: 20px;
	color: #00529c;
	text-align: center;
}
.offrecord1{
	width: 30%;
	float: left;

}
.bannerdescription a {
    text-decoration: none;
    color: green;
    font-family: arial;
    font-size: 16px;
}
.offrecord1 img {
    padding: 5px;
   height: auto;
    width: 218px;
}
.offrecord1 a{
	text-decoration: none;
}
.parahraph-center{
	padding-left:5px;
	font-family: arial;
	font-size: 16px;
}
.offrecord2{
	float: right;
	width: 70%;
}
.offrecord21{
	padding: 15px;
	font-family: arial;
	font-size: 16px;
	color: #00529c;
}
.main{
	clear: both;
	padding-top: 30px;
	padding-right: 5px;
	padding-bottom: 30px;
	padding-left: 5px;

}

div.gallery {
 display: inline-block;
      width: 24%;
}
div.gallery img {
    padding: 18px;
    width: 100%;
    height: auto;
}
div.desc {
  padding: 15px;
  text-align: center;
}
.footer{
	padding-left: 30em;
}/*
--------------------------------------------------------------------------------------------------------------------------------*/


@media screen and (max-width: 500px)
{
  
 .container {
    	background-color: #ffcccc;
        max-width: 100%;
        margin-top: 0px;
        margin-right: 0px;
       
    }
   .social-media-images {
    width: 100%;
    padding-left: 68px;
}
.social-media-images img{
	
	padding: 5px;  
	float: none;
	padding-left:15px; 
}
.logo {
    width: 50px;
    height: 50px;
    float: right;
    padding: 34px;
}
   .clearfix{
   	clear: both;
   }


 .fortitle {
    clear: both;
    max-width: 100%;
    color: #00529c;
    font-size: 24px;
    font-family: arial;
    padding-top: 29px;
}
.ABOUT-US {
    width: 100%;
   
    color: white;
    font-family: arial;
    font-size: 24px;
    text-align: center;
}


.image-logo-logo img {
    width: 196px;
    height: 200px;
    padding: 0em;
    padding-left: 83px;
    height: 100px ;
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 20px;
}
.topnav {
    width: 100%;
    display: grid;
    font-family: arial;
    margin-top: 16px;
    font-size: 6px;
    margin-left: -29px;
}.contact {
    padding: 20px;
    max-width: 100%;
   
}
.contact a {
	padding: 5px;
    font-size: 24px;
    color: #00529c;
}
.square img{
	max-width: 100%;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 5px
	
	height: 200px;
}

.imageinsider img{
	margin-left: 0;
	padding: 0;
padding-top: 5px;
	width: 100%;
}
.parahraph-center{
	width: 100%;
	font-family: arial;
	font-size: 16px;
	text-align: center;
	padding-top: 5px;
}


.bannerdescription a{

	text-decoration: none;
	color: white;
	font-size: 16px;
	opacity: .9;
}
.bannerdescription{
color: #00529c;
		font-family: arial;
		font-size: 16px;
}
.bannerset{
	margin-top: 15px;
	width: 100%;
	font-family: arial;
	font-size: 16px;
	color: #00529c;
	padding: 5px;
}
.gallery{
	padding: 0;
	margin: 0;
	width: 100%;
}
div.gallery img{
	padding: 0
	padding: 0;
	margin: 0;
}

.offrecord1{
 width: 100%;

}
.offrecord1 a{

	color: white;
	font-family: arial;
	font-size: 16px;
}
.offrecord1 h2{
	color: white;
	font-family: arial;
	font-size: 18px;
}


.offrecord2{
	width: 97%;
	padding-right: 10px;
	padding-left :10px;
	font-size: 16px;
font-family: arial;
color: #00529c;
	
}
.gallery {
    max-width: 100%;
    padding: 20px;
    /* padding: 28px; */
}

div.gallery img{
	padding-left: 15px;
	width: 120px;
	height: auto;
}
.footer{
	width: 100%;
	background-color: #00CED1;
  font-family: arial;
  font-size: 16px;
  display: inline;
 }
 .lastend{
 	color: white;
 	width: 100%;
 	font-family: arial;
  font-size: 16px;
  display: inline;
 }

.desc{
color: #00529c;
}
.footer {
    width: 100%;
    margin-left: 41px;
    padding-left: 5px;
    padding-top: 15px;
    font-family: arial;
    text-align: center;
    font-size: 16px;
    margin-bottom: 1em;
}





}
